<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Training details: </h1>
<hr/>
<table>
    <tr>
        <th>Id</th>
        <th>ActivityId</th>
        <th>Activity</th>
        <th>Start Time</th>
        <th>Total Time</th>
        <th>Distance</th>
        <th>Calories</th>
        <th>TrackPoints</th>
        <th>File Path</th>
    </tr>
    <tr>
        <td><span th:text="${training.getId}">  </span></td>
        <td><span th:text="${training.getActivityId}">  </span></td>
        <td><span th:text="${training.getActivity}">  </span></td>
        <td><span th:text="${training.getStartTime}">  </span></td>
        <td><span th:text="${training.getTotalTime}">  </span></td>
        <td><span th:text="${training.getDistance}">  </span></td>
        <td><span th:text="${training.getCalories}">  </span></td>
        <td><span th:text="${training.getTrackPoints}">  </span></td>
        <td><a th:href="@{/training/{id}/download(id=${training.getId})}">
                <span th:text="${training.getFilePath}">  </span>
            </a>
        </td>
    </tr>
</table>
<hr/>
<h1>Training statistics: </h1>
<table>
    <tr>
        <th></th>
        <th>AVG</th>
        <th>MIN</th>
        <th>MAX</th>
    </tr>
    <tr>
        <td>HR: </td>
        <td><span th:text="${statistics.getAvgHR}"></span></td>
        <td><span th:text="${statistics.getMinHR}"></span></td>
        <td><span th:text="${statistics.getMaxHR}"></span></td>
    </tr>
    <tr>
        <td>Altitude: </td>
        <td><span th:text="${statistics.getAvgAlt}"></span></td>
        <td><span th:text="${statistics.getMinAlt}"></span></td>
        <td><span th:text="${statistics.getMaxAlt}"></span></td>
    </tr>
    <tr>
        <td>Cadence: </td>
        <td><span th:text="${statistics.getAvgCad}"></span></td>
        <td><span th:text="${statistics.getMinCad}"></span></td>
        <td><span th:text="${statistics.getMaxCad}"></span></td>
    </tr>
</table>
</body>
</html>